@import "./variables";

.mobile-menu {
  right: 0;
  top: 60px;
  width: 300px;
  position: fixed;

  & .logo {
    padding: 0 40px;
    font-size: 38px;
    color: $cTitle;
  }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    cursor: pointer;
    // チェック
    visibility: hidden;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__main {
    padding: 0;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  &__item {
    opacity: 0;
    display: block;
    padding: 0 40px;
    list-style: none;
    transform: translate3d(0, 0, -1000px);
    transition: transform 0.3s, opacity 0.2s;
  }
  &__link {
    color: $cText;
    display: block;
    margin-top: 30px;
    text-decoration: none !important;

    & .main-title {
      color: $cText;
      margin-right: 3%;
    }
    & .sub-title {
      color: $cTextReverse;
    }
  }
}

.open {
  & #sub-app {
    transform: translate(-300px, 60px);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }

  & .mobile-menu {
    &__cover {
      opacity: 1;
      visibility: visible;
      // チェック
    }
    &__item {
      opacity: 1;
      transform: none;
      transition: transform 0.3s, opacity 0.2s;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.07s;
        }
      }
    }
  }
}
