$cBg:  #f2f3f7;
$cWhite: #ffffff;
$cShadow: #d0d0d0;
$cBlue: #067CF8;
$cLight: #3fc1c9;
$cPink: #fc5185;
$cText: #222;
$cSecondText: #6D6E74;
// 仕切りの色
$cDivider: #BDBDBD;
$cIcon: #000000;
$contentMaxWidth: 1070px;












