$cBg: #f5f5f5;
$cWhite: #ffffff;
$cShadow: #d0d0d0;
$cDeep: #364f6b;
$cLight: #3fc1c9;
$cPink: #fc5185;
$cText: #212121;
$cSecondText: #757575;
// 仕切りの色
$cDivider: #BDBDBD;
$cIcon: #000000;
$contentMaxWidth: 1070px;












