
$cBg:  #efefef;
$cMain: #516C9D;
$cText:#444;
$cTextReverse: #bbb;
$cTitle: #363636;
$cSecond: #7B9AD0;
// 上3つがメインカラー
$cShadow: #d0d0d0;
$cWhite: #ffffff;
// 仕切りの色
$cIcon: #000000;
$contentMaxWidth: 1070px;