.content__inner {
  display: grid;
  padding: 0 1%;
  background-color: $cBg;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-data {
  margin: 5% auto;
  min-width: 360px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__log {
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px $cWhite;
    color: $cTitle;
    font-size: 30px;
  }

  &__date {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: $cText;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 0;
  }

  &__li {
    font-size: 18px;
    margin: 5% 0;
    width: 100%;
    @extend .flex;
    justify-content: flex-start;

    &:last-child {
      margin: 5% 0 0 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding: 0 5%;

    & > a {
      font-weight: bold;
      color: $cText;
    }
  }

  .custom-class:not(.calendar) {
    color: $cSecond;
  }
  .calendar {
    margin-right: 8px;
  }

  span.contents {
    font-size: 12px;
    padding: 2%;
    color: $cTextReverse;
  }
}

@media screen and (min-width: 960px) {
  .content__inner {
    grid-template-columns: 2fr 1fr;
  }
  .user-data {
    margin-top: 0;
  }
}