html,
body,
#sub-app,
.container {
  height: 100%;
  background-color: $cBg;
}
#sub-app {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}
.container {
  padding-top: 5px;
  min-height: 100%;
}
.content {
    max-width: $contentMaxWidth;
    margin: 0 auto;
  }
ul {
  list-style: none;
  padding-left: 0;
}
input,
button,
textarea,
select {
  appearance: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}